img{
	height: 300px;
	width: 500px;
/*	border: 2px solid green;
*/	border-radius: 5%;


}
table{
 	height: 300px;
	width: 500px;
	border: 2px solid black;
	border-collapse: collapse;
}
td,th{
		border: 2px solid black;
		border-collapse: collapse;


}