#tab{
    height: 300px;
    width: 50%;
    border: 2px solid red;
    border-collapse: collapse;
    margin-left: 20%;
    border-spacing: 10px;


}
td,th{
    border: 2px solid red;
    border-collapse: collapse;
    padding-left: 20px;
    padding-top: 20px;


}
tr:nth-child(even),th:nth-child(even),td:nth-child(even){
    background-color: green;
}